In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
output_files = [f for f in os.listdir("100MeV/results/") if ".out" in f]

In [6]:
sx_range = np.arange(350, 1300, 10)  # um
sy_range = np.arange(30, 370, 5)  # um
tot_len = len(sx_range)*len(sy_range)
res_df = pd.DataFrame(columns=sy_range, index=sx_range)
res_df.head()

,30,35,40,45,50,55,60,65,70,75,...,320,325,330,335,340,345,350,355,360,365
350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
360,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
370,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
390,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
sx2d, sy2d = np.meshgrid(sx_range, sy_range)
sxsy_tuples = np.vstack((sx2d.ravel(), sy2d.ravel())).T

In [8]:
for f in output_files:
    idx = int(f[:-4])
    with open(os.path.join("100MeV","results", f)) as f1:
        sx, sy = sxsy_tuples[idx]
        res_df.loc[sx, sy] = float(f1.read())

In [9]:
res_df.head()

,30,35,40,45,50,55,60,65,70,75,...,320,325,330,335,340,345,350,355,360,365
350,30456.1,31244.1,32121.4,33078.6,34105.8,35193.6,36332.5,37513.9,38730.1,39974.1,...,107233,108666,110100,111537,112975,114415,115856,117299,118744,120190
360,31265.3,32073.7,32973.7,33955.6,35009.3,36125,37293.2,38504.9,39752.1,41027.9,...,109981,111451,112921,114394,115868,117345,118822,120302,121783,123265
370,32075.7,32904.5,33827.3,34833.9,35914.2,37058,38255.4,39497.4,40775.8,42083.4,...,112736,114241,115748,117257,118768,120280,121794,123310,124828,126347
380,32887.3,33736.6,34682.1,35713.5,36820.4,37992.2,39219,40491.5,41801.1,43140.5,...,115495,117037,118580,120125,121672,123221,124772,126324,127878,129434
390,33699.9,34569.7,35538.1,36594.3,37727.8,38927.8,40184,41486.9,42827.8,44199.2,...,118260,119838,121417,122999,124582,126168,127755,129344,130934,132527

In [7]:
res_df.to_csv("Mxy_Ver_SigmaX_Hor_SigmaY.csv")